<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row justify-content-center align-self-center">
          <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn" (click)="showHideCreate()">Crear un video</button>
        </div>
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th>Video Nombre</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let video of videos">
                    <td>
                      <dd class="figure-caption" routerLink="/videos/{{video.id}}">{{video.nombre}}</dd>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-20">
        <div *ngIf="showCreate">
          <app-video-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-video-create>
        </div>
      </div>
    </div>
</div>
