<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css">
        .fa_custom {
            color: #0099CC
        }
    </style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un usuario</button>
            </div>
            <br>
            <br>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Usuario Nombre</th> 
                        <th> </th>  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let usuario of usuarios">
                        <td style="cursor: pointer;" (click)="onSelected(usuario.id)" >
                <dd>{{usuario.nombre}}</dd>
                </td>
                <td>
                    <i class="fa fa-pencil "(click)="showHideEdit(usuario.id)"></i>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="showView">
                <app-usuario-detail [usuarioDetail]="selectedUsuario"></app-usuario-detail>
            </div>
            <div *ngIf="showCreate">
                <app-usuario-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-usuario-create>
            </div>

            <div *ngIf="showEdit">
                <app-usuario-edit [usuario]="selectedUsuario" (cancel)="showHideEdit(selectedUsuario.id)" (update)="updateUsuario()" ></app-usuario-edit>
            </div>
        </div>
    </div>
</div>
