<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN','CLIENT']">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un comentario</button>
            </div>
            <br>
            <br>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Comentario texto</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let comentario of comentarios">
                        <td>{{comentario.id}}</td>
                        <td style="cursor: pointer;" (click)="onSelected(comentario.id)" >
                <dd>{{comentario.texto}}</dd>
                </td>
                <td>
                    <i class="fa fa-pencil "(click)="showHideEdit(comentario.id)"></i>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="showView">
                <app-comentario-detail [comentarioDetail]="selectedComentario"></app-comentario-detail>
            </div>
            <div *ngIf="showCreate">
                <app-comentario-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-comentario-create>
            </div>

            <div *ngIf="showEdit">
                <app-comentario-edit [comentario]="selectedComentario" (cancel)="showHideEdit(selectedComentario.id)" (update)="updateComentario()" ></app-comentario-edit>
            </div>
        </div>
    </div>
</div>
