<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Comentario Nombre</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let comentario of comentarios">
                    <td style="cursor: pointer;">
            <dd class="figure-caption" routerLink="/comentarios/{{comentario.id}}">{{comentario.texto}}</dd>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

