<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row justify-content-center align-self-center">
        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn" (click)="showHideCreate()">Crear una reserva</button>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Reserva Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of reservas">
            <td>
              <!--<dd class="figure-caption" routerLink="/reservas/{{reserva.id}}">{{reserva.idRecursoReservado}}</dd> reserva no tiene id-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-20">
      <div *ngIf="showCreate">
        <app-reserva-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-reserva-create>
      </div>
    </div>
  </div>
</div>
