<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css">
        .fa_custom {
            color: #0099CC
        }
    </style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un libro</button>
            </div>
            <br>
            <br>
            <div class="col-md-2">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let libro of libros">
                            <td>{{libro.id}}</td>
                            <td style="cursor: pointer;" (click)="onSelected(libro.id)" >
                    <dd>{{libro.nombre}}</dd>
                    <td>
                        <i *ngxPermissionsOnly="['ADMIN']" class="fa fa-pencil "(click)="showHideEdit(libro.id)"></i>
                    </td>
                    <td>
                        <i *ngxPermissionsOnly="['ADMIN']"  class="fa fa-trash "(click)="deleteLibro(libro.id)"></i>
                    </td>
                    <td>
                    <i class="fa fa-money " *ngxPermissionsOnly="['CLIENT']"(click)="showHidePrestamo()"></i>
                     </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-8">
                <div *ngIf="showView">
                    <app-libro-detail [libroDetail]="selectedLibro"></app-libro-detail>
                </div>
                <div *ngIf="showPrestamo">
                    <app-libro-prestamo [libroDetail]="selectedLibro"></app-libro-prestamo>
                </div>
                <div *ngIf="showCreate">
                    <app-libro-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-libro-create>
                </div>

                <div *ngIf="showEdit">
                    <app-libro-edit [libro]="selectedLibro" (cancel)="showHideEdit(selectedLibro.id)" (update)="updateLibro()" ></app-libro-edit>
                </div>
            </div>
        </div>
    </div>
</div>
