<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Libro Id</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let libro of libros">
                    <td style="cursor: pointer;">
                        <dd routerLink="/libros/{{libro.id}}">{{libro.nombre}}</dd>
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
</div>

