
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" id="brand" href="#">Bibliotecas<span id="admin">ADMINISTRADOR</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
    
  <span class="navbar-toggler-icon"></span>

    </button>
    
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
    
    <li class="nav-item">
        <a id="bibliotecaTag" class="nav-link" routerLink="/bibliotecas/list" >Biblioteca</a>
    </li>
    <li class="nav-item">
        <a id="bibliotecaTag" class="nav-link" routerLink="/prestamos/list" >Prestamo</a>
    </li>
    <li class="nav-item">
        <a id="LibrosTag" class="nav-link" routerLink="/libros/list" >Libros</a>
    </li>
    <li class="nav-item">
      <a id="VideosTag" class="nav-link" routerLink="/videos/list">Videos</a>
    </li>
    <li class="nav-item">
      <a id="VideosDigitalesTag" class="nav-link" routerLink="/videosDigitales/list">VideosDigitales</a>
    </li>
    <li class="nav-item">
      <a id="LibrosDigitalesTag" class="nav-link" routerLink="/librosDigitales/list">librosDigitales</a>
    </li>
        <li class="nav-item">
      <a id="SalasTag" class="nav-link" routerLink="/salas/list">salas</a>
    </li>
     <li class="nav-item">
      <a id="UsuarioTag" class="nav-link" routerLink="/usuarios/list">usuarios</a>
    </li>
 </ul> 
</div>

   
</nav>

<div class="list">
<router-outlet></router-outlet>
</div>