
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" id="brand" href="#">Bibliotecas<span id="admin">ADMINISTRADOR</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">

  <span class="navbar-toggler-icon"></span>

    </button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="nav navbar-nav navbar-center">

    <li class="nav-item">
        <a id="bibliotecaTag" class="nav-link" routerLink="/bibliotecas/list" >Biblioteca</a>
    </li>
    <li class="nav-item">
        <a id="bibliotecaTag" class="nav-link" routerLink="/prestamos/list" >Prestamo</a>
    </li>
    <li class="nav-item">
      <a id="ReservaTag" class="nav-link" routerLink="/reservas/list">Reservas</a>
    </li>
    <li class="nav-item">
        <a id="LibrosTag" class="nav-link" routerLink="/libros/list" >Libros</a>
    </li>
    <li class="nav-item">
      <a id="VideosTag" class="nav-link" routerLink="/videos/list">Videos</a>
    </li>
    <li class="nav-item">
      <a id="VideosDigitalesTag" class="nav-link" routerLink="/videosDigitales/list">VideosDigitales</a>
    </li>
    <li class="nav-item">
      <a id="LibrosDigitalesTag" class="nav-link" routerLink="/librosDigitales/list">LibrosDigitales</a>
    </li>
        <li class="nav-item">
      <a id="SalasTag" class="nav-link" routerLink="/salas/list">Salas</a>
    </li>
     <li class="nav-item">
      <a id="UsuarioTag" class="nav-link" routerLink="/usuarios/list">Usuarios</a>
    </li>
    <li class="nav-item">
      <a id="ComentarioTag" class="nav-link" routerLink="/comentarios/list">Comentarios</a>
    </li>
    <li class="nav-item">
      <a id="login-navbar-item" routerLink="/auth/login">Login</a>
    </li>
    <li class="nav-item">
      <a id="logout-navbar-item" (click)="logout()" href="#"><span class="fa fa-sign-out"></span>Logout</a>
    </li>
    <li class="right-space">
      <a id="signup-navbar-item" routerLink="/auth/sign-up"><span class="fa fa-user"></span>Sign Up</a>
    </li>
 </ul>
</div>


</nav>

<div class="list">
<router-outlet></router-outlet>
</div>
