<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear una sala</button>
            </div>
            <br>
            <br>
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Sala Ubicacion</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let sala of salas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/salas/{sala.id}}">{{sala.ubicacion}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>