<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear una sala</button>
            </div>
            <br>
            <br>
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Sala Ubicacion</th>
                </tr>
            </thead>
            <tbody>
          <tr *ngFor = "let sala of salas">
                            <td>{{sala.id}}</td>
                            <td style="cursor: pointer;" (click)="onSelected(sala.id)" >
                    <dd>{{sala.nombre}}</dd>
                    <td>
                        <i class="fa fa-pencil "(click)="showHideEdit(sala.id)"></i>
                    </td>
                    <td>
                        <i class="fa fa-trash "(click)="deleteSala(sala.id)"></i>
                    </td>

                    </tr>
            </tbody>
        </table>
    </div>

            <div *ngIf="showCreate">
                <app-sala-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-sala-create>
            </div>
</div>
