<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Sala Ubicacion</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let sala of salas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/salas/{sala.id}}">{{sala.ubicacion}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>