<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre video digital</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let videoDigital  of videosDigitales"
                        (click)="onSelected(videoDigital.id)">
                        <td style="cursor: pointer;"> 
                <dd>{{videoDigital.nombre}}</dd>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="showCreate">
                <app-video-digital-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-video-digital-create>
            </div>
        
    </div>
</div>
