<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn" (click)="showHideCreate()">Crear un libro digital</button>
      </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Libro Digital Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let libroDigital of librosDigitales">
                  <td>{{libroDigital.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-20">
      <div *ngIf="showCreate">
        <app-libro-digital-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-libro-digital-create>
      </div>
    </div>
  </div>
</div>
