<p class="h4 p-3">Id: {{LibroDetail.id}}</p> 
<p class="h4 p-3">Nombre: {{LibroDetail.nombre}}</p> 
<p class="h4 p-3">Isbn {{LibroDetail.isbn}}</p> 
<p class="h4 p-3">Idioma: {{LibroDetail.idioma}}</p> 
<p class="h4 p-3">Editorial {{LibroDetail.editorial}}</p> 
<p class="h4 p-3">Edicion {{LibroDetail.edicion}}</p> 
<p class="h4 p-3">Unidades Disponibles {{LibroDetail.unidadesDisponibles}}</p> 
<p class="h4 p-3">Usuarios en Lista de Espera {{LibroDetail.usuariosListaEspera:}}</p> 
<p class="h4 p-3">Calificacion Promedio {{LibroDetail.calificacionPromedio}}</p> 
<!--<div *ngIf="libroDetail.comentarios.length > 0">
                        <app-libro-comentarios [libroComentarios]="libroDetail.comentarios"></app-libro-comentarios>
                    </div>
--> 