<p class="h4 p-3">Id: {{libroDetail.id}}</p> 
<p class="h4 p-3">Nombre: {{libroDetail.nombre}}</p> 
<p class="h4 p-3">Isbn {{libroDetail.isbn}}</p> 
<p class="h4 p-3">Idioma: {{libroDetail.idioma}}</p> 
<p class="h4 p-3">Editorial {{libroDetail.editorial}}</p> 
<p class="h4 p-3">Edicion {{libroDetail.edicion}}</p> 
<p class="h4 p-3">Unidades Disponibles {{libroDetail.unidadesDisponibles}}</p> 
<p class="h4 p-3">Usuarios en Lista de Espera {{libroDetail.usuariosListaEspera}}</p> 
<p class="h4 p-3">Calificacion Promedio {{libroDetail.calificacionPromedio}}</p> 
