<div class="container-fluid">
   <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear una biblioteca</button>
            </div>
            <br>
            <br>
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th> 
                    <th>Biblioteca Nombre</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let biblioteca of bibliotecas">
                    <td>{{biblioteca.id}}</td>
                    <td>
                        <dd id="biblioteca-nombre" class="figure-caption" routerLink="/bibliotecas/{{biblioteca.id}}">{{biblioteca.nombre}}</dd>
                            </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
            <div *ngIf="showCreate">
                <app-biblioteca-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-biblioteca-create>
            </div>
</div>
       
