<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Borrar una biblioteca</h2>
        <br>
    	<h4 class="text-center">¿Esta seguro que desea eliminar la biblioteca?</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <i  style="padding-right: 1em;"class="fa fa-ban " (click)="cancelDelete()"></i>

            <i class="fa fa-check-circle" (click)="deleteBiblioteca(biblioteca.id)"></i>
        </div>
    </div>
</div>
<br>
<br>